body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FBFBFB;
}
.formleft{
    float: left;
    height: 475px;
    margin-left: 14%;
}
.formright{
    float: right;
    height: 475px;
    margin-right: 14%;
}
.header{
    background-color: #ff7619;
    padding: 0px;
    display: block;
}

.headerimg{
    float: right;
    display: block;
}
.profileform{
    width: 30%;
    margin: 0 auto;
}
.centerform{
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

input, textarea {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 20px;
    padding: 3px;
    
}